<rg-header>
  <h2 class="header-title">
    Популярные фильмы
  </h2>
</rg-header>

<main>
  <div class="films__container">
    <ng-container *ngIf="films">
      <rg-card *ngFor="let film of films" [film]="film" (setActiveFilm)="setFavFilm($event)"
               [activeFilm]="favFilm"></rg-card>
    </ng-container>
  </div>

  <ng-container *ngIf="films">
    <ng-container *ngIf="getFavFilm()">
      <div class="films__favourite">
        <h2 class="header-title">
          Самый лучший фильм
        </h2>
        <rg-card class="film-active" [film]="getFavFilm()!" (setActiveFilm)="setFavFilm($event)" [activeFilm]="favFilm"></rg-card>
      </div>
    </ng-container>
  </ng-container>
</main>
