<rg-header class="header">
  <h2 class="header-title">
    Популярные фильмы
  </h2>

  <nav [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Все</mat-label>
      <mat-select formControlName="select" multiple>
        <mat-option *ngFor="let genre of genresMap" [value]="genre.id">{{genre.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form__input" appearance="outline">
      <input formControlName="search" matInput placeholder="Введите название">
    </mat-form-field>
  </nav>
</rg-header>

<main>
  <div class="films__container">
    <ng-container *ngIf="films">
      <rg-card *ngFor="let film of films" [film]="film" (setActiveFilm)="setFavFilm($event)"
               [activeFilm]="favFilm"></rg-card>
    </ng-container>
  </div>

  <ng-container *ngIf="films && isEmptyForm()">
    <ng-container *ngIf="getFavFilm()">
      <div class="films__favourite">
        <h2 class="header-title">
          Самый лучший фильм
        </h2>
        <rg-card class="film-active" [film]="getFavFilm()!" (setActiveFilm)="setFavFilm($event)" [activeFilm]="favFilm"></rg-card>
      </div>
    </ng-container>
  </ng-container>
</main>
