@import "src/app/styles/mixins.scss";

:host {
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.header {
  &-title {
    @include h2;

    @include for-phone {
      text-align: center;
    }
  }
}

.films {
  &__container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 190px);
    gap: 10px
  }

  &__favourite {
    width: 100%;
    margin-top: 40px;

    @include for-phone {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.film {
  &-active {
    margin-top: 15px;
    display: block;
    width: 190px;
  }
}


